<%- include('../layouts/header')  %> 
<%-include('../layouts/partials/admin-header') %>




<section>
    <div class="table-responsive container-fluid">
        <div class="container">
          <div class="input-group mt-5">
            <a href="/product_table">
            <button class="btn btn-primary">Add Product</button>
            </a>
            <div style="position: absolute; right: 0px; width: 300px;">
              <input style="align-items: flex-end" type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search..."/>
            </div>
          </div>
            
          <div class="table-responsive">
            <table id="myTable" class="table table-hover mt-5">
                <thead>
                  <tr>
                    <th scope="col">No:</th>
                    <th scope="col">ProductName</th>
                    <th scope="col">Actual Price</th>
                    <th scope="col">discounted Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Category</th>
                    <th scope="col">image-1</th>
                    <th scope="col">image-2</th>
                    <th scope="col">Action</th>
                  </tr>
            
                </thead>
          
                
                <% for(let i =0; i< result.length; i++) {%> 
                    <tbody>
                    <tr>
                          <th scope="row"> <%=i+1  %> </th>
                          <td><%= result[i].productName%> </td>
                          <td><%= result[i].actualPrice%> </td>
                          <td><%= result[i].discountPrice%> </td>
                          <td><%= result[i].description%> </td>
                          <td><%= result[i].stock%> </td>
                          <td><%= result[i].category%> </td>
                          <td><img class="card-img-top" style="width:150px; height:150px;" src="/multimages/<%= result[i].image1 %> " alt="..." /></td>
                          <td><img class="card-img-top" style="width:150px; height:150px;" src="/multimages/<%= result[i].image2 %> " alt="..." /> </td>
                          <td>
                            <!-- <a href="/add_product/edit_product?id=<%= result[i]._id  %>"onclick="return confirm('Are you sure want to edit this<%= result[i].productName %> ')">
                              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
                              <span class="material-symbols-outlined">
                                edit_square
                                </span>
                            </a> -->
                            <form action="/add_product/edit_product?id=<%= result[i]._id  %>" method="post">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                             Edit
                            </button>

                              <!-- Modal -->
                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure about editing this product?
                                  </div>
                                  <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Edit</button>
                                  </div> -->
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                                    <a button type="button" class="btn btn-success mr-7" href="/add_product/edit_product?id=<%= result[i]._id  %>" class="btn btn-danger" >YES</button></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          

                            <a href="/add_product/delete_product?id=<%= result[i]._id  %>"onclick="return confirm('Are you sure want to delete this<%= result[i].productName %> ')">
                              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
                              <span class="material-symbols-outlined id=exampleModal2">
                                delete
                                </span>
                                  <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure about editing this product?
                                  </div>
                            </a>
                            </form>
                          </td>
                        </tr>

                    </tbody>
                    <% } %> 
            </table>
          </table>
        </div>
    
      </div>
    </table>
  </div>
  </section>
  
  
  <script>
    function myFunction() {
      let input = document.getElementById("myInput");
      let filter = input.value.toUpperCase();
      let table = document.getElementById("myTable");
      let tr = table.getElementsByTagName("tr");
      for (let i = 0; i < tr.length; i++) {
          let td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          let txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
  </script>